---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";

const blogEntries = await getCollection('blog');
---

<Layout title="Evann's blog" description="Some thoughts here and there">
    <section class="mb-8">
        <h1 class="text-2xl md:text-2xl lg:text-4xl italic text-center">A place for my wandering thoughts...</h1>
    </section>

    <section class="w-full max-w-screen-md mx-auto space-y-4 flex flex-col">
        {
            blogEntries.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
                 .map(blogEntry => {
                    const blogEntryDate = new Date(blogEntry.data.date)
                    const blogEntryDateString = `${blogEntryDate.getFullYear()}-${(blogEntryDate.getMonth() + 1).toString().padStart(2, '0')}-${blogEntryDate.getDate().toString().padStart(2, '0')}`

                    return <a href={`/blog/${blogEntry.slug}`} class="text-base md:text-lg lg:text-xl hover:underline">({blogEntryDateString}) - {blogEntry.data.title}</a>
                })
        }
    </section>
</Layout>