@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GaramondLibre";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("GaramondLibre"),
      url("/fonts/GaramondLibre-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "GaramondLibre";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("GaramondLibre"),
      url("/fonts/GaramondLibre-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "GaramondLibre";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("GaramondLibre"),
      url("/fonts/GaramondLibre-Italic.woff2") format("woff2");
  }

  article {
    p {
      @apply leading-relaxed;
    }

    h2 {
      @apply text-xl pt-2 pb-1 md:text-2xl md:pb-3 md:pt-6 lg:text-3xl lg:pb-5 lg:pt-10;
    }

    h3 {
      @apply text-lg py-1 md:text-xl md:py-2 lg:text-2xl lg:py-3;
    }

    li {
      @apply list-disc ml-6 lg:ml-10;
    }

    a {
      @apply underline;
    }

    pre {
      @apply rounded-md flex flex-col items-start justify-center relative;

      .pre-header {
        @apply w-full flex flex-col items-start justify-center sticky top-0 left-0;

        .pre-title {
          @apply bg-gray-700 text-xs md:text-sm lg:text-base py-1 px-4 rounded-md w-full text-center;
        }

        .wrapper-copy-code {
          @apply w-full flex flex-row-reverse;

          .copy-code {
            @apply text-xs md:text-sm lg:text-base m-1 py-1 px-4 rounded-md;

            &:hover {
              @apply bg-gray-500;
            }
          }
        }
      }

      & > code {
        @apply text-xs md:text-sm lg:text-base w-full block px-[1.25rem] indent-0;

        .line {
          @apply inline-block min-w-full w-auto;
        }

        .diff.add {
          @apply bg-green-800 relative;
          
          &:before {
            content: "+";
            @apply absolute left-[-1rem] text-green-500;
          }
        }
        .diff.remove {
          @apply bg-red-800 opacity-80 relative;

          &:before {
            content: "-";
            @apply absolute left-[-1rem] text-red-500;
          }
        }
      }
    }

    code:not(pre code) {
      @apply text-xs md:text-sm lg:text-base bg-gray-300 py-1 px-2 rounded-md;
    }

    blockquote {
      @apply border-l-4 border-gray-500 pl-4 italic;
    }
  }
}
