@font-face {
  font-family: "GaramondLibre";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("GaramondLibre"), url("/fonts/GaramondLibre-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "GaramondLibre";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("GaramondLibre"), url("/fonts/GaramondLibre-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "GaramondLibre";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("GaramondLibre"), url("/fonts/GaramondLibre-Italic.woff2") format("woff2");
}

:root {
  --code-block-background-color: #374151;
  --code-block-border-radius: 0.375rem;
  --code-block-font-size: 1rem;
  --color-background: #ffffff;
  --color-text: #000000;
  --font-family: "GaramondLibre", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-size-title: clamp(1.35rem, 0.95rem + 2vw, 2.5rem);
  --font-size-text: 1.25rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  font-size: 16px;
  margin: 0;
  min-height: 100vh;
  min-height: 100%;
  width: 100vw;
  width: 100%;
}

body {
  padding: 0 calc(16px * 2);
}

a {
  color: var(--color-text);
  font-size: var(--font-size-text);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: calc(16px * 1);
  padding-top: calc(16px * 0.5);
  width: 100%;

  & + hr {
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: calc(16px * 0.5) auto;
    width: min(50vh, 100%);
  }
}

h1 {
  font-size: var(--font-size-title);
  font-style: italic;
  font-weight: 400;
}

section,
p {
  font-size: var(--font-size-text);
  line-height: 1.5;

  & a {
    text-decoration: underline;
  }
}

#summary {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: calc(16px * 1.5) 0;

  #profile-picture {
    border: 2px solid var(--color-text);
    border-radius: 50%;
    height: clamp(4.6875rem, 2.5136rem + 10.8696vw, 10.9375rem); /* between 75px and 175px */
    width: clamp(4.6875rem, 2.5136rem + 10.8696vw, 10.9375rem); /* between 75px and 175px */
  }

  #social-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: calc(16px * 0.75);
    padding: calc(16px * 0.25) 0;
  }

  .logo {
    display: flex;
    height: auto;
    width: clamp(1.25rem, 0.8152rem + 2.1739vw, 2.5rem); /* between 20px and 40px */
  }
}

#presentation {
  margin: 0 clamp(0rem, -1.0435rem + 5.2174vw, 3rem);
  text-align: justify;
  text-indent: clamp(1.5rem, 0.9783rem + 2.6087vw, 3rem);
}

#not-found {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90vh;
  text-align: center;
  width: 100%;
}

#blog-title {
  margin-bottom: calc(16px * 1.5);
  text-align: center;
}

#blog-entries {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: calc(16px * 0.5);
  margin: 0 auto;
  width: clamp(calc(16px * 18), 100%, calc(16px * 60));
}

.blog-entry {
  text-decoration: none;
}

#blog-article {
  margin: 0 auto;
  width: clamp(calc(16px * 15), 100%, calc(16px * 60));

  & h1 {
    text-align: center;
  }

  & #blog-article-publish-date,
  & #blog-article-edited-date {
    font-size: var(--font-size-text);
    font-style: italic;
    font-weight: 400;
  }

  & article {
    counter-reset: section sub-section sub-sub-section;
    text-align: justify;
    text-indent: clamp(1.5rem, 0.9783rem + 2.6087vw, 3rem);

    & h2 {
      counter-increment: section;
      font-size: 1.35rem;
      font-weight: 700;

      &:before {
        content: counter(section) ". ";
      }
    }

    & h3 {
      counter-increment: sub-section;
      font-size: 1.3rem;
      font-weight: 600;

      &:before {
        content: counter(section) "." counter(sub-section) ". ";
      }
    }

    & h4 {
      counter-increment: sub-sub-section;
      font-size: 1.25rem;
      font-weight: 500;

      &:before {
        content: counter(section) "." counter(sub-section) "." counter(sub-sub-section) ". ";
      }
    }

    & blockquote {
      border-left: 4px solid #cccccc;
      padding-left: calc(16px * 1);
      margin: 0;
    }

    & pre {
      align-items: flex-start;
      border-radius: var(--code-block-border-radius);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: 100%;

      & .pre-header {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0px;
        position: sticky;
        top: 0px;
        width: 100%;

        & .pre-title {
          background-color: var(--code-block-background-color);
          border-radius: var(--code-block-border-radius);
          font-size: var(--code-block-font-size);
          line-height: 1rem;
          padding: calc(16px * 0.5) calc(16px * 1);
          text-align: center;
          width: 100%;
        }

        & .wrapper-copy-code {
          align-items: center;
          flex-direction: row;
          display: flex;
          justify-content: flex-end;
          width: 100%;

          & .copy-code {
            background-color: transparent;
            border: none;
            border-radius: var(--code-block-border-radius);
            color: #ffffff;
            font-family: monospace;
            font-size: var(--code-block-font-size);
            line-height: 1rem;
            margin: calc(16px * 0.25);
            padding: calc(16px * 0.5) calc(16px * 1);

            &:hover {
              background-color: #6b7280;
              cursor: pointer;
            }
          }
        }
      }

      & code {
        display: block;
        font-size: var(--code-block-font-size);
        line-height: 1.25rem;
        min-width: 100%;
        overflow-x: scroll;
        padding: calc(16px * 0.5) calc(16px * 1.25);
        text-indent: 0px;
        width: max-content;

        & .line {
          display: inline-block;
          min-width: 100%;
          width: auto;
        }

        & .diff.add {
          background-color: #166534;
          position: relative;

          &:before {
            color: #22c55e;
            content: "+";
            left: -1rem;
            position: absolute;
          }
        }

        & .diff.remove {
          background-color: #991b1b;
          opacity: 0.8;
          position: relative;

          &:before {
            color: #ef4444;
            content: "-";
            left: -1rem;
            position: absolute;
          }
        }
      }
    }

    & code:not(pre code) {
      background-color: #D1D5DB;
      border-radius: var(--code-block-border-radius);
      font-size: var(--code-block-font-size);
      padding: calc(16px * 0.25) calc(16px * 0.5);
    }

    & #blog-article-author {
      font-size: var(--font-size-text);
      font-style: italic;
      font-weight: 400;
      text-align: right;
    }

    & img {
      display: block;
      margin: calc(16px * 1.5) auto;
      height: auto;
      width: 100%;
    }
  }

  & #blog-article-back-to-top {
    display: block;
    margin: calc(16px * 1.5) auto;
    width: fit-content;
  }
}

.debug {
  outline: 1px solid red;
}
