---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Evann BACALA" description="Evann BACALA website & portfolio">
    <div class="flex flex-col items-center justify-center h-screen">
        <p class="text-center text-2xl">Oops! This page doesn't exist. <a href="javascript:history.back()" class="underline">Go back</a> or <a href="/" class="underline">return home</a>.</p>
    </div>
</Layout>