---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    Oops! This page doesn't exist. <a class="underline" href="javascript:history.back()">Go back</a>
    or
    <a class="underline" href="/">return home</a>.
  </div>
</Layout>
