---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Evann BACALA" description="Evann BACALA website & portfolio">
  <div id="not-found">
    <p>
      Oops! This page doesn't exist. <a href="javascript:history.back()">Go back</a> or
      <a href="/">return home</a>.
    </p>
  </div>
</Layout>
