---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Credits & Attributions</h1>

  <div>
    <h2>Background Pattern</h2>
    <p>
      Background patterns created by Steve Schoger from <a
        href="https://heropatterns.com/"
        target="_blank">Hero Patterns</a
      >.
    </p>
    <p>
      Licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"
        >Creative Commons Attribution 4.0 International (CC BY 4.0)</a
      >.
    </p>
  </div>
</Layout>
