---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import profilePicture from "../assets/img/profile-picture.png";

const socialLinks = [
  {
    name: "GitHub",
    link: "https://github.com/ebacala",
    logo: import("../assets/img/logos/github.png"),
    alt: "GitHub account",
  },
  {
    name: "Bluesky",
    link: "https://bsky.app/profile/ebacala.com",
    logo: import("../assets/img/logos/bluesky.png"),
    alt: "Bluesky account",
  },
  {
    name: "LinkedIn",
    link: "https://www.linkedin.com/in/evann-bacala-491a70150/",
    logo: import("../assets/img/logos/linkedin.webp"),
    alt: "LinkedIn account",
  },
];
---

<Layout>
  <section class="flex flex-col items-center justify-center gap-4">
    <Image
      class="w-[125px] h-[125px] rounded-full border-1 border-neutral-300"
      loading="eager"
      src={profilePicture}
      alt="Evann Bacala"
    />

    <div class="flex flex-col items-center justify-center gap-2">
      <h1>Hi I'm Evann Bacala</h1>
      <div class="flex flex-col items-center justify-center gap-4">
        You can find me here
        <span class="flex flex-row items-center justify-center gap-2">
          {
            socialLinks.map((link) => (
              <a href={link.link} target="_blank" rel="noopener">
                <Image class="w-[25px] h-[25px]" loading="eager" src={link.logo} alt={link.alt} />
              </a>
            ))
          }
        </span>
      </div>
    </div>
  </section>

  <Card class="text-justify indent-4">
    Fullstack developer with 5+ years of experience building web applications using Vue.js, Node.js
    and Spring Boot, with modern development practices. Currently seeking remote frontend/fullstack
    opportunities. I <a class="underline" href="/blog/">write stuff</a> I find interesting on this personal
    website.
  </Card>
</Layout>
