---
const { class: className } = Astro.props;
---

<section class={className}>
  <slot />
</section>

<style>
  @reference "../assets/css/main.css";

  section {
    @apply w-full p-4 rounded-sm border-1 border-neutral-200 shadow-sm;
  }
</style>
