---

---

<nav
  class="w-fit flex flex-row items-center justify-center gap-4 mx-auto p-2 border-b-1 border-b-neutral-300"
>
  <a href="/">About me</a>
  <a href="/cv.pdf" target="_blank">CV</a>
  <a href="/blog/">Blog</a>
</nav>
