---
import { Image } from "astro:assets";

import profilePicture from "../assets/img/profile-picture.webp";
import github from "../assets/img/logos/github.webp";
import linkedin from "../assets/img/logos/linkedin.webp";
---

<script>
  import { createObserver } from "../helpers/animation";

  createObserver(
    document.getElementById("profile-picture")!,
    "animate-profile-picture"
  );
  createObserver(document.getElementById("h1")!, "animate-h1");
  createObserver(document.getElementById("h2")!, "animate-h2");
  createObserver(document.getElementById("social")!, "animate-social");
  createObserver(document.getElementById("job")!, "animate-job");
</script>

<section class="flex-column align-center justify-center">
  <div
    class="flex-row align-center justify-space-around flex-wrap-reverse w-80"
  >
    <div>
      <h1 id="h1">Hi I'm</h1>
      <h2 id="h2">Evann</h2>

      <div id="job" class="border-radius-10 job">Software Developer</div>

      <div id="social" class="flex-row align-center justify-center flex-wrap">
        <a href="https://github.com/ebacala" target="_blank" rel="noopener"
          ><Image
            loading="eager"
            class="logo"
            src={github}
            alt="GitHub account"
          /></a
        >
        <a
          href="https://www.linkedin.com/in/evann-bacala-491a70150/"
          target="_blank"
          rel="noopener"
          ><Image loading="eager" class="logo" src={linkedin} alt="LinkedIn account" /></a
        >
      </div>
    </div>

    <Image
      id="profile-picture"
      loading="eager"
      class="profile-picture"
      src={profilePicture}
      alt="Evann"
    />
  </div>
</section>

<style>
  .job {
    background-color: #00a2ff;
    color: black;
    font-size: clamp(20px, 3vw, 38px);
    margin: clamp(10px, 2vw, 20px) auto;
    padding: clamp(10px, 2vw, 20px);
    text-align: center;
  }

  @keyframes animation-profile-picture {
    0% {
      opacity: 0;
      transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -50%, 0);
    }
    100% {
    }
  }

  .profile-picture {
    --size: min(40vmin, 300px);

    height: var(--size);
    margin: calc(var(--size) / 4);
    object-fit: contain;
    width: var(--size);
  }

  .animate-profile-picture {
    animation: animation-profile-picture 1s linear 2s 1 normal both;
    perspective: 4000px;
  }

  @keyframes animation-title {
    0% {
      opacity: 0;
      transform: translate(0, -100%);
    }
    100% {
      opacity: 1;
    }
  }

  h1 {
    font-size: clamp(30px, 4vw, 52px);
    margin: clamp(10px, 2vw, 20px) auto;
  }

  .animate-h1 {
    animation: animation-title 1s linear 0s 1 normal both;
  }

  h2 {
    font-size: clamp(60px, 8vw, 140px);
    font-weight: 500;
    margin: clamp(10px, 2vw, 20px) auto;
  }

  .animate-h2 {
    animation: animation-title 1s linear 1s 1 normal both;
  }

  @keyframes animation-job {
    0% {
      opacity: 0;
      transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -50%, 0);
    }
    100% {
    }
  }

  .animate-job {
    animation: animation-job 1s linear 2s 1 normal both;
    perspective: 4000px;
  }

  @keyframes animation-social {
    0% {
      opacity: 0;
      transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -50%, 0);
    }
    100% {
    }
  }

  .animate-social {
    animation: animation-social 1s linear 2s 1 normal both;
    perspective: 4000px;
  }
</style>
