---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00A2FF">
    
    <meta name="description" content={description}>
    <meta name="robots" content="noimageindex">
    <title>{title}</title>

    <script is:inline src="https://umami.ebacala.com/script.js" data-website-id="02c1596f-3c80-41c3-ace6-50990c0bd3e8"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest"></head>
  </head>

  <body>
	<slot></slot>
  </body>
</html>